/*Global========================*/
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100&display=swap');

:root {
  --body-bg-color: #dce4e3;
  --green: #18c29c;
  --light-green: #8ed7c6;
    --light-grey: #dce4e3;
  --text-color: #084236;
}

*{
    margin: 0;
    box-sizing: 0;
    border: none;
    font-family: 'Poppins', serif, sans-serif;
    color: var(--text-color);
    text-decoration: none
    
}
img{
    transition-duration: 2s;
}
img:hover{
    opacity: 0.8;
   
    width: 26px;
}

/*Global======================*/




/*<section>.sideBar=====*/
.sideBar{
    width: 45px;
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    height: 93vh;
    overflow: hidden;
    padding-right: 10px;
    transition-duration: 2s;

}
/*<div>.sideBarHeader=====*/
.sideBarHeader{
    display: flex;
    justify-content: space-between
}
.sideBarHeader img:nth-last-of-type(2){
    display: none;
}
/*<div>.sideBarHeader=====*/

/*<div>.search============*/
.search{
    display: flex;
    flex-direction: column;
    margin-left: -12px;
}
.search input{
    height: 50px;
    width: 50px;
    font-size: 16px;
    background-color: var(--light-green);
    border-radius: 12px;
    transition-duration: 2s;

  

}
.search input{
    text-align: center;
}
.search input::placeholder{
    color: var(--text-color);

}

.search input:focus ~ img{
 
    opacity: 0.4;
}
.search img{
    width: 30px;
    position: relative;
    top: -39px;
    left: 10px
}
/*<div>.search========*/

/*<div>.anotherPages==*/
.anotherPages{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.anotherPages a{
    cursor: pointer;
    display: flex;
    gap: 13px;
}
.anotherPages h2{
    font-weight: 400;
    font-size: 16px;
    margin-left: 30px;
    transition-duration: 0.5s;
    
  
}
.anotherPages h2:hover{
    font-size: 17px;
    opacity: 0.8;
}
/*<section>.sideBar=======*/

/*quanto mostrar a barra lateral*/
/*.sideBar hiden===========*/

.sideBar.active{
    width: 250px;
}
.sideBar.active .anotherPages h2{
    display: block;
}
.sideBar.active .search input{
    width: auto;
    transition-duration: 2s;
}
.sideBar.active .sideBarHeader img:nth-last-of-type(2){
    display: block;
}




